# The project AON data
www/data/projectAon

# Typescript generated code
www/js
src/js

# Distribution directory
dist

# NPM / node.js stuff
npm-debug.log
node_modules

# PAON git repo
project-aon

# Tests result
tests_log.txt
ctrf-report.json
www/sw.js
www/sw.js.LICENSE.txt
www/sw.js.map
