<h1 data-translation="newGame">New game</h1>

<div class="row">

    <div class="col-sm-6">
        <!-- New game form -->
        <form id="newgame-form" style="margin-bottom: 20px">

            <div class="mb-3">
                <label for="newgame-book" data-translation="book">Book</label>
                <select class="form-control" id="newgame-book">
                    <!-- Loaded on view -->
                </select>
            </div>

            <div class="mb-3">
                <label for="newgame-randomtable" data-translation="randomTableValues">
                  Random Number Table values
                </label>
                <select class="form-control" id="newgame-randomtable">
                    <option value="computer" data-translation="computerGenerated">Computer generated</option>
                    <option value="manual" data-translation="manual">Manual</option>
                </select>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" id="newgame-license" checked="checked"> 
                    <span data-translation="agreeLicense">
                        I agree to the Project Aon license terms
                    </span>
                </label>
                <br/>
                <a href="#projectAonLicense" data-translation="licenseText">License text</a>
            </div>

            <button type="submit" class="btn btn-primary btn-block" data-translation="startGame" id="newgame-start">
                Start game
            </button>

            <br />
            <div class="alert alert-danger" id="newgame-offline-warning" style="display:none">
                WARNING: You are currently offline. The download of a new book will fail until your connection has been restored.
            </div>
        </form>
    </div>

    <div class="col-sm-6 illustration">
        <!-- Book cover -->
        <img alt="Book cover" src="" id="newgame-cover" />
    </div>

</div>
